/* @tailwind base; */
@tailwind components;
@tailwind utilities;

/* :root { */
/*   --foreground-rgb: 0, 0, 0; */
/*   --background-start-rgb: 214, 219, 220; */
/*   --background-end-rgb: 255, 255, 255; */
/* } */



/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --foreground-rgb: 255, 255, 255; */
/*     --background-start-rgb: 0, 0, 0; */
/*     --background-end-rgb: 0, 0, 0; */
/*   } */
/* } */

body {
  /* color: rgb(var(--foreground-rgb)); */
}


:root {
  --chip-border: calc(0.0625rem*var(--mantine-scale)) solid var(--mantine-color-gray-3);
}

@layer components {
  .chip {
    @apply bg-primary-blue text-center flex flex-col gap-1 justify-between;
    padding: var(--mantine-spacing-xs);
    border-radius: var(--paper-radius,var(--mantine-radius-default));
    border: var(--_paper-border,none);
    outline: 0;
  }

  .chip__value {
    @apply bg-white p-1;
    border-radius: var(--paper-radius,var(--mantine-radius-default));
  }

  .chip__header {
    @apply text-white;
  }

  .chip-wrapper {
    @apply flex gap-1 pt-5 flex-wrap;
  }

  .chip-wrapper__title {
    @apply chip flex items-center;
    justify-content: center;
    min-width: 7rem;
  }
}

